<app-home> </app-home>
<div class="main_position">
 <div class="header">
    <div class="search">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search for any Book"
        (input)="onSearch()"
      />
    </div>
  </div>

  <div class="results">
    <ul class="book-list">
      <li class="book-tile" *ngFor="let book of filteredData">
        <h2>{{ book.title }}</h2>
        <p><b>Author:</b> {{ book.author }}</p>
        <p><b>Category:</b> {{ book.category }}</p>
        <p><b>Rating:</b> {{ book.rating }}</p>
      </li>
    </ul>
    <p *ngIf="filteredData.length === 0" class="no-results">
      No results found.
    </p>
  </div>
</div>
