<app-home></app-home>
<div class="main_position">
  <div class="header">
    <div class="search">
      <input
        type="text"
        placeholder="Search for any Categories"
        [(ngModel)]="searchQuery"
        (input)="filterData()"
      />
    </div>
  </div>

  <div class="results">
    <ul class="book-list">
      <li *ngFor="let book of filteredData" class="book-tile">
        <h2>{{ book.title }}</h2>
        <p><b>Author:</b> {{ book.author }}</p>
        <p><b>Category:</b> {{ book.category }}</p>
        <p><b>Rating:</b> {{ book.rating }}</p>
      </li>
    </ul>
    <p
      *ngIf="filteredData.length === 0"
      style="color: white"
    >
      No results found.
    </p>
  </div>
</div>
